.FAQ {
  gap: 0.8rem;
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 1024px;
  flex-direction: column;
}
.FAQ__title {
  width: 100%;
  text-align: center;
}
.FAQ__title-text {
  color: #419fb9;
}
.FAQ__container {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}
