.footer {
  gap: 4rem;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 12rem 0;
  max-width: 1024px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer__logo {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer__logo-copyright {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: "Merriweather", serif;
}
.footer__links-nav {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links-nav_item-link {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: "Merriweather", serif;
}
.footer__links-nav_item-link:hover {
  color: #419fb9;
  transition: all ease 0.4s;
}
@media screen and (max-width: 768px) {
  .footer__links-nav {
    flex-direction: column;
  }
}
